# Copy this file to .env and fill in your values
# Get these from: https://supabase.com/dashboard/project/_/settings/api

VITE_SUPABASE_URL=https://jpsifaqpodwijvgfqfok.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impwc2lmYXFwb2R3aWp2Z2ZxZm9rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MjEyNjMsImV4cCI6MjA5MzI5NzI2M30.7VHe_WgHyEsP-thXj7ij1LXvdV7i-Mp6YrEfjYjlRdQ

SUPABASE_URL=https://jpsifaqpodwijvgfqfok.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impwc2lmYXFwb2R3aWp2Z2ZxZm9rIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MjEyNjMsImV4cCI6MjA5MzI5NzI2M30.7VHe_WgHyEsP-thXj7ij1LXvdV7i-Mp6YrEfjYjlRdQ
